
/*Homepage body*/

.info { 
    align-items: start;
    justify-content: start;
    background-color:  #b3c9df;
    margin: 10%;
    margin-top: 3%;
    margin-left: 10vw;
    border-color: #576876;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.darkBackground {
  background-color:  #b3c9df;
}

#body-div {
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: stretch;
  }
  #left-div {
    background-color: #d0dae5;
    width: 50%;
    height: 85vh;
    display:flex;
    align-items: center;
    justify-content: start;
    font-size: 70px;
    padding: 10%;
  }
  #right-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0dae5;
  }
  